{% extends "base.html" %}
{% block content %}



    {% if perms.global_permissions.acessar_disc_aluno %}
    
    <div class="content">
        <p>Bem vindo {{ user.email }}</p>
    </div>
    <ul>
        {% for turma in turmas %}
        <li><a href="{{ turma.get_disc_detail_url }}">{{ turma.nome }}</a></li>
        {% endfor %}

        <h4>Notas</h4>
        {% for nota in notas %}
        <p> Valor: {{ nota.valor }}, Peso: {{ nota.peso }}, Unidade: {{ nota.unidade }}</p>
        {% endfor %}

        <h4>Frequencia</h4>
        {% for freq in frequencia %}
        <p>{{ freq.n_faltas }}</p>
        {% endfor %}

      <h4>Noticias</h4>
        {% for noticia in noticias %}
        <p>Título: {{noticia.titulo}}</p>
        <p>Corpo: {{noticia.corpo}}</p>
        {% endfor %} 

    </ul>
    {% endif %}
{% endblock content %}
